<p>{{ titleHeader }}</p>
<!-- Here I'm interpolating the title defined in .ts file -->
<h1 [innerText]="'My text'"></h1>
<!-- Here I'm using property binding to set the innerText of the h1 element statically -->

<h1 [innerText]="subTitle"></h1>
<!-- Here I'm using property binding to set the innerText of the h1 element dynamically -->

<h1>{{ subTitle }}</h1>
<!-- Here I'm using property binding to set the innerText of the h1 element dynamically in a easier way -->

<button (click)="handleClick()">Update</button>
<!-- It's called event binding, when I change one property, the other one updates automatically -->

<input type="text" [value]="valueInput">
<!-- This is a one way data binding -->

<input type="text" [(ngModel)]="valueInput">
<button (click)="showValueInput()">Update value input</button>
<!-- This is a two way data binding, it's synchronized (left to right and vice versa) -->

<p [class.my-color]="applyColor">Testing class binding</p>
<!-- Here I'm using class binding to conditionally apply the 'my-color' class -->